main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 40px;
}

.section-01 {
    max-width: 1440px;
    min-height: 120px;
    margin: 0 auto;
    padding-top: 80px;

    display: flex;
    justify-content: space-between;
}

.section-01-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section-01-left-headline h3 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;

    color: rgba(78, 164, 135, 1);
}

.section-01-left-headline h1 {
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;

    color: rgba(241, 201, 83, 1);
}

.section-01-left p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;

    color: rgba(84, 55, 13, 1);
}

.article-meta {
    display: flex;
    gap: 32px
}

.meta-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.meta-item p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.section-01-right {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(78, 164, 135, 0.2);
    padding: 32px 24px;
    border-radius: 24px;
    gap: 16px;
}

.author-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.author-info h3,
h4 {
    text-align: center;
}

.author-info h3 {
    font-family: "Arima";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

.author-info h4 {
       font-family: "Arima";
    font-style: normal;
    font-weight: 400;
    font-size: 18px; 
}