main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 88px;
}

/* === section-01 === */

.section-01 {
    max-width: 1440px;
    min-height: 120px;
    margin: 0 auto;
    padding-top: 80px;

    display: flex;
    justify-content: space-between;
}

.section-01-left {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section-01-left-headline h3 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;

    color: rgba(78, 164, 135, 1);
}

.section-01-left-headline h1 {
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;

    color: rgba(241, 201, 83, 1);
}

.section-01-left p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;

    color: rgba(84, 55, 13, 1);
}

.article-meta {
    display: flex;
    gap: 32px
}

.meta-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.meta-item p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.section-01-right {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(78, 164, 135, 0.2);
    padding: 32px 24px;
    border-radius: 24px;
    gap: 16px;
}

.author-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.author-info h3,
h4 {
    text-align: center;
    color: rgba(84, 55, 13, 1);
}

.author-info h3 {
    font-family: "Arima";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

.author-info h4 {
    font-family: "Arima";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.author-info p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: rgba(84, 55, 13, 1);
}

.carousel-wrapper p {
    font-family: "Arima";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;

    text-align: center;
}

/* === section-02 === */

.carousel-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 64px;
}

.carousel {
    height: 440px;

    display: flex;
}

.carousel-card img {
    width: 300px;
    height: 440px;

    border-radius: 16px;
    
}

.carousel-card {
    width: 100px;
    height: 80%;

    transform: perspective(250px) rotateY(10deg) translate(-20px);
    transform-origin: 50% 50%;
    transition: all 250ms ease-in-out;
}

.carousel-card:hover {
    z-index: 2;

    transform: perspective(250px) rotateY(0deg) translate(0px) scaleX(1.5) scaleY(1.2);
}

.carousel-card:hover~.carousel-card {
    transform: perspective(250px) rotateY(-20deg) translate(20px);
}