main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 88px;
}

/* === section-01 === */

.section-01 {
    max-width: 1440px;
    min-height: 120px;
    margin: 0 auto;
    padding-top: 80px;
}

.section-01-wrapper {
    display: flex;
    justify-content: space-between;
}

.section-01-left {
    max-width: 65%;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section-01-left-headline>p.sub-headline {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;

    color: rgba(78, 164, 135, 1);
}

.section-01-left-headline h1 {
    font-family: 'Arima';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;

    color: rgba(241, 201, 83, 1);
}

.section-01-left p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;

    color: rgba(84, 55, 13, 1);
}

.article-meta {
    display: flex;
    gap: 32px
}

.meta-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.meta-item p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.section-01-right {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(78, 164, 135, 0.2);
    padding: 32px 24px;
    border-radius: 24px;
    gap: 16px;
}

.author-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.author-info h3,
h4 {
    text-align: center;
    color: rgba(84, 55, 13, 1);
}

.author-info h3 {
    font-family: "Arima";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
}

.author-info h4 {
    font-family: "Arima";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.author-info p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: rgba(84, 55, 13, 1);
}


/* === section-02 === */

.section-02 {
    max-width: 1440px;
    min-height: 120px;

    padding-top: 80px;

    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 64px;
}

.section-02 p {
    font-family: "Arima";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;

    text-align: center;
}

.carousel {
    height: 440px;

    display: flex;
}

.carousel-card img {
    width: 300px;
    height: 440px;
}

.carousel-card {
    width: 200px;
    height: 80%;

    transform: perspective(250px) rotateY(10deg) translate(-20px);
    transform-origin: 50% 50%;
    transition: all 250ms ease-in-out;
}

.carousel-card:hover {
    z-index: 2;

    transform: perspective(250px) rotateY(0deg) translate(0px) scaleX(1.2) scaleY(1.2);
}

.carousel-card:hover~.carousel-card {
    transform: perspective(250px) rotateY(-10deg) translate(20px);
}

.carousel-card:has(~ .carousel-card:hover) {
    transform: perspective(250px) rotateY(10deg) translate(-40px);
}

p,
li {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    color: rgba(61, 61, 61, 1);
}

.list {
    max-width: 1440px;
    min-height: 120px;
    width: 1000px;
    margin: 0 auto;
}

ol {
    padding-left: 40px;
}

/* === section-03 === */

.section-03 {
    max-width: 1440px;
    min-height: 120px;
    width: 1130px;
    height: 260px;
    margin: 0 auto;
}

.pro-tipps {
    width: 196px;

    border-radius: 10px;
    position: relative;
    right: 48px;
    top: 20px;
    rotate: -15deg;
    display: flex;
    gap: 12px;

    background-color: rgba(78, 164, 135, 1);
}

.pro-tipps img {
    rotate: 14deg;
}

.pro-tipps p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;

    color: rgba(241, 201, 83, 1);
}

.text {

    border-radius: 30px;

    padding: 26px 16px 24px 16px;

    background-color: rgba(78, 164, 135, 0.2);
}

/* === section-04 === */

.section-04 {
    margin: 80px 0;
}

/* === Ankerpunkt für den starren Pfeil === */
.share-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}