@media screen and (max-width: 480px) {
  main {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
  }

  .section-01 {
    padding-top: 24px;
  }

  .headline-extraInfo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headline-info-box-meta {
    flex-wrap: wrap;
    padding: 24px 0;
    gap: 16px;
  }

  .headline-author-info-right {
    max-width: 100%;
  }

  .headline-info-box-bottom>p {
    padding-top: 40px;
    margin-bottom: 32px;
  }

  .rain-graph-box {
    margin-bottom: 24px;
  }

  .rain-graph-box>img {
    height: 200px;
  }

  .rain-graph-text>p {
    margin-bottom: 32px;
  }

  .two-graph-wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .graph-box-left,
  .graph-box-right {
    display: flex;
    gap: 16px;
  }

  .section-03 {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .section-04 {
    margin: 40px 0 88px;
  }

  .arrow-icon {
    display: none;
  }

  .arrow-icon-respon {
    display: flex;
  }

  .arrow-button-wrapper {
    padding-right: 0px;
    margin-top: 0;
  }
}