@media screen and (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        gap: 40px;
    }

    .section-01 {
        padding-top: 24px;
    }

    .section-01-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .section-01-left {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .article-meta {
        flex-wrap: wrap;
        padding: 24px 0;
        gap: 16px;
    }

    .section-01-right {
        width: 100%;
    }

    .author-info p {
        text-align: center;
    }

    .section-02 {
        padding-top: 0px;
    }

    .section-03 {
        margin: 0px;
    }

    .pro-tipps {
        right: -15px;
        top: 0px;
    }

    .section-04 {
        margin: 40px 0 88px;
    }

    .arrow-icon {
        display: none;
    }

    .arrow-icon-respon {
        display: flex;
    }

    .arrow-button-wrapper {
        padding-right: 42px;
        margin-top: 10px;
    }

    .arrow-button-wrapper>label {
        display: flex;
        position: relative;
        top: 40px;
        margin: 0 auto;
    }

    .share-toggle:checked~.share-branch {
        display: flex;
        transform: translateX(-88px) translateY(33px) scale(2);
    }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
    .article-meta {
        flex-wrap: wrap;
        padding: 12px 0;
        gap: 16px;
    }
}