/* ==== header ==== */
header {
    background-color: rgba(78, 164, 135, 1);
}

.navigator-bar {
    display: flex;
    align-items: center;
    gap: 100px;
    max-width: 1440px;
    min-height: 120px;
    margin: 0 auto;
    padding: 20px 40px;
}

.blog-logo {
    height: 72px;
    width: 72px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-links a {
    font-family: 'Arima', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(248, 245, 235, 1);
    transition: text-underline-offset 0.2s ease;
}

.nav-links a:hover {
    color: rgba(248, 245, 235, 1);
    text-decoration: underline solid 1px rgba(248, 245, 235, 1);
    text-underline-offset: 6px;
}

/* ==== main section ==== */
main {
    min-height: 100vh;
}

/* ==== hero section ==== */

.hero-content-wrapper {
    position: relative;
    max-width: 1440px;
    height: 547px;
    overflow: hidden;
    margin: 0 auto;
}

.hero-content-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 647px;
    height: 100%;

    background-image: url("../assets/img/img-hero-yellow-hector.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}

.hero-image {
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 515px;

    background-image: url("../assets/img/img-hero.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
}

.hero-content {
    position: relative;
    z-index: 3;

    display: flex;
    flex-direction: column;
    gap: 32px;

    max-width: 345px;
    height: 227px;

    margin-left: 104px;
    margin-top: 122px;
}

.hero-content>h1 {
    font-family: 'Arima', serif;
    font-size: clamp(36px, 4vw, 60px);
    font-weight: 700;
}

.hero-content>p {
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(16px, 2vw, 28px);
    font-weight: 300;
}

.hero-badge {
    position: absolute;
    z-index: 4;

    top: 284px;
    left: 444px;

    width: 11vw;
    max-width: 160px;
    height: auto;
}

/* ==== content wrapper ==== */
.content-wrapper {
    max-width: 1200px;

    margin: 74px auto 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.highlights {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 88px;

    margin: 0 auto;
}

.headline-text {
    max-width: 979px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    text-align: center;
}

.headline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.headline>img {
    width: 48px;
    height: 48px;
}

.headline>h1 {
    font-family: "Arima";
    font-style: bold;
    font-weight: 700;
    font-size: 52px;
    color: rgba(78, 164, 135, 1);
}

.headline-text>p {
    font-family: "Open Sans";
    font-style: medium;
    font-weight: 500;
    font-size: 24px;
    color: rgba(84, 55, 13, 1);
}

/* ==== highlight-slider ==== */

.highlight-slider {
    height: 533px;
    width: 100%;
    /* 100% von -> [.content-wrapper {max-width: 1200px;}] -> Zeile 124 . */

    position: relative;
    /* Das ist der Rahmen für [.highlight-slider-wrapper] .  */

    display: flex;
    /* Das macht [.highlight-slider input] innerhalb von [.highlight-slider] flexibel . */
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 44px;
    gap: 22px;

    overflow: hidden;

    border-top-right-radius: 100px;
    cursor: pointer;
}

.highlight-slider input {
    z-index: 2;

    width: 28px;
    height: 28px;
    cursor: pointer;
}

.highlight-slider-wrapper {
    width: 400%;
    height: 100%;

    position: absolute;
    /* [.highlight-slider-wrapper] wird aus dem [.highlight-slider] rausgenommen. */
    top: 0;
    left: 0;
    display: flex;

    transition: all 1s ease-in-out;
}

.highlight-slider-element {
    width: calc(100% / 4);
    /* 100% = [.highlight-slider-wrapper { width: 400%; } ]*/
    height: 100%;

    position: relative;
}

.slider-img {
    width: 100%;
    height: 100%;
}

.slider-img>img {
    width: 100%;
    /* 100% von [.highlight-slider] -> Zeile 183 . */
    height: 100%;
    object-fit: cover;

}

.slider-text {

    max-width: 881px;

    backdrop-filter: blur(16px);

    position: absolute;
    /* Hier wird der Text aus [.highlight-slider-element] rausgenommen .  */
    top: 54px;
    left: 38px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    padding: 16px 24px;

    box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.08),
        1px 2px 4px rgba(255, 255, 255, 0.08),
        3px 4px 9px rgba(255, 255, 255, 0.08),
        6px 8px 15px rgba(255, 255, 255, 0.08),
        9px 12px 24px rgba(255, 255, 255, 0.08);


}

.slider-text>h3 {
    color: rgba(255, 255, 255, 1);
    font-family: "Open Sans";
    font-style: bold;
    font-weight: 600;
    font-size: 44px;
}

.slider-text>p {
    color: rgba(255, 255, 255, 1);
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.highlight-slider input[value="two"]:checked~.highlight-slider-wrapper {
    transform: translateX(calc(-100% / 4));
}

.highlight-slider input[value="three"]:checked~.highlight-slider-wrapper {
    transform: translateX(calc((-100% / 4) * 2));
}

.highlight-slider input[value="four"]:checked~.highlight-slider-wrapper {
    transform: translateX(calc((-100% / 4) * 3));
}


/* ==== footer ==== */
footer {
    background-color: rgba(78, 164, 135, 1);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    max-width: 1440px;
    height: 120px;
    margin: 0 auto;
    padding: 0 40px;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 100px;
}

.footer-left-copyright {
    display: flex;
    align-items: center;
    gap: 6px;
}

.footer-left-copyright p {
    font-family: 'Arima', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    color: rgba(248, 245, 235, 1);
}

.footer-left-links {
    display: flex;
    gap: 60px;
}

.footer-left-links a {
    font-family: 'Arima', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    color: rgba(248, 245, 235, 1);
    transition: text-underline-offset 0.2s ease;
}

.footer-left-links a:hover {
    color: rgba(248, 245, 235, 1);
    text-decoration: underline solid 1px rgba(248, 245, 235, 1);
    text-underline-offset: 6px;
}

.footer-right {
    display: flex;
    gap: 20px;
}

.footer-social-logos {
    transition: filter 0.3s ease;
}

.footer-social-logos:hover {
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.8));
}